@{
    ViewData["Title"] = "Checkout";
}
<div align="left">
    <h2>
        <img class="" src="~/images/viajanet_logo.JPG" />
    </h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                
                <h3>Dados do cliente</h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Detalhes do pedido</h4>
                            <span>Nome do cliente:</span><span>Alisson Prado</span><br/>
                            <span>Identificação:</span><span>12345698745654</span><br/>
                            <span>Email cadastrado:</span><span>alissonpradodev@gmail.com</span><br/>
                            <span>Cel cadastrado:</span><span>alissonpradodev@gmail.com</span><br/>
                            <span>Número do Pedido:</span><span>alissonpradodev@gmail.com</span><br/>
                            <span>Endereço cadastrado:</span><br /><span>Rua Paracatú 166 Aptº 402</span><br/>
                            <span>Santa Terezinha - Juiz de Fora - MG</span><br/>
                        </div>
                        <div class="col-md-6">
                            <h4>Detalhes do Checkout</h4>
                            <span>CPF:</span><span>123.456.789-99</span><br />
                            <span>País:</span><span>Brasil</span><br />
                            <span>Estado:</span><span>Minas Gerais</span><br />
                            <span>Forma de Pagamento:</span><span>Cartão de Crédito</span><br />
                            <span>Cartão:</span><span>xxxx.4xx6.xxxx.1477</span><br />
                            <span>Expiração:</span><span>xxxx.4xx6.xxxx.1477</span><br />
                            <span>Situação:</span><span>Processado</span><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>