@{
    ViewData["Viagens"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
</div>
<div class="album py-5 bg-light" style="padding: 30px 2px 2px 2px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img runat="server" src="~/images/001.JPG"/>
                    <div class="card-body">
                        <p class="card-text">
                            <span>Passagem Aérea.</span><br/>
                            <span>Texto xxxx.</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Promoção do Mês</button>
                            </div>
                            <small class="text-muted">Junho</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img runat="server" src="~/images/002.JPG" />
                    <div class="card-body">
                        <p class="card-text">
                            <span>Passagem Aérea.</span><br />
                            <span>Texto xxxx.</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Promoção do Mês</button>
                            </div>
                            <small class="text-muted">Junho</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img runat="server" src="~/images/003.JPG" />
                    <div class="card-body">
                        <p class="card-text">
                            <span>Passagem Aérea.</span><br />
                            <span>Texto xxxx.</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Promoção do Mês</button>
                            </div>
                            <small class="text-muted">Junho</small>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="col-md-4" style="padding: 40px 10px 20px 10px;">
                <div class="card mb-4 shadow-sm">
                    <img runat="server" src="~/images/004.JPG" />
                    <div class="card-body">
                        <p class="card-text">
                            <span>Passagem Aérea.</span><br />
                            <span>Texto xxxx.</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Promoção do Mês</button>
                            </div>
                            <small class="text-muted">Junho</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 40px 10px 20px 10px;">
                <div class="card mb-4 shadow-sm">
                    <img runat="server" src="~/images/005.JPG" />
                    <div class="card-body">
                        <p class="card-text">
                            <span>Passagem Aérea.</span><br />
                            <span>Texto xxxx.</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Promoção do Mês</button>
                            </div>
                            <small class="text-muted">Junho</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 40px 10px 20px 10px;">
                <div class="card mb-4 shadow-sm">
                    <img runat="server" src="~/images/006.JPG" />
                    <div class="card-body">
                        <p class="card-text">
                            <span>Passagem Aérea.</span><br />
                            <span>Texto xxxx.</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Promoção do Mês</button>
                            </div>
                            <small class="text-muted">Junho</small>
                        </div>
                    </div>
                </div>
            </div>



            
