@{
    ViewData["Title"] = "Landing";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="background-color:#BFFF2C; width:100%; padding: 60px 0px 0px 0px; color:#000; height:400px;"> 
                <div align="center"><img class="card-img-top" src="~/images/promo_landing.JPG" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background-color:#0064BE; width:100%; color:#fff; height:380px;"
                
            <div class="container-fluid">
	<div class="row">
	<div class="row" style="padding:30px; 0px; 0px; 0px;">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
                        <div align="center"><img class="card-img-top" src="~/images/meio001.JPG" /></div>
						<div align="center" class="card-block">
							<h5 class="" style="">
								Faça sua Busca
							</h5>
							<p class="card-text">
								Escolha um destino para buscar pelos melhores preços em passagens aéreas nacionais e internacionais.
							</p>
                            <div align="center">
                                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Procure</a></li>
                            </div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
                        <div align="center"><img class="card-img-top" src="~/images/meio002.JPG" /></div>
						<div align="center" class="card-block">
							<h5 class="card-title">
								Calendário de preços
							</h5>
							<p class="card-text">
								Facilitamos o planejamento da sua viagem exibindo o menor preço do seu voo a cada dia. Tudo o que queremos é facilitar sua viagem.
                            <br/>
							</p>
                            <div align="center">
                                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Checkout">Checkout</a></li>
                            </div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
                        <div align="center"><img class="card-img-top" src="~/images/meio003.JPG" /></div>
						<div align="center" class="card-block">
							<h5 class="card-title">
								Melhores aeroportos
							</h5>
							<p class="card-text">
								Ajudamos a escolher quais são os melhores aeroportos para a sua viagem dando as nossas sugestões.
							</p>
							<div align="center">
								<a class="btn btn-primary" href="#">Corfimação</a> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ">
                <div style="color:#555555; font-family:'Arial Rounded MT';">
                    <h2 class="text-center"> Agora as estatísticas de viagem vão trabalhar a seu favor!</h2>
                <p align="center">Nós encontramos os dias mais baratos para você planejar a sua viagem entre seus trechos preferidos.</p>
                

                </div>
            </div>
        </div>
        <div class="row" style="background-color:#0164BF; height:80px;">
            <div class="col-md-12">
                <div align="center"><img  src="~/images/whatsapp.png" />.</div>
                <div>
                    <span>Entre em contato conosno através do deste link:</span><a href="https://api.whatsapp.com/send?phone=5532998272870&text=Gostaria%20de%20novas%20promoções">WhatsApp</a>
                </div>
            </div>
        </div>
    </div>